@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select { /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --background-color-01: #ffffff;
  --background-color-02: #f5f4fa;
  --text-color-01: #212121;
  --text-color-02:#757575;
  --text-color-03:rgba(255, 255, 255, 0.6);
  --text-color-04: rgba(117, 117, 117, 0.5);
  --brand-color-01: #2196f3;
  --brand-color-02: #2f303a;
  --button-color:#f5f4fa;
  --highlight-button-color: #188ce8;
  --border-color-01:#ECECEC;
  --border-color-02:#EEEEEE;
  --shadow-color-01: rgba(0, 0, 0, 0.12);
  --shadow-color-02:rgba(0, 0, 0, 0.14);
  --shadow-color-03:rgba(0, 0, 0, 0.2);
  --shadow-color-04: rgba(0, 0, 0, 0.06);
  --shadow-color-05: rgba(0, 0, 0, 0.16);
  --shadow-color-06: rgba(0, 0, 0, 0.1);
  --shadow-color-07: rgba(0, 0, 0, 0.08);
  --shadow-color-08: rgba(0, 0, 0, 0.15);
  --gradient-color-01: rgba(47, 48, 58, 0.4);
  --gradient-color-02: rgba(47, 48, 58, 0.4);
  --icon-color-01: #AFB1B8;
  --icon-color-02: rgba(255, 255, 255, 0.1);
  --label-color: rgba(47, 48, 58, 0.8);
  --overlay-color: rgba(33, 150, 243, 0.9);
  --input-background-color: #2196F300;
  --input-border-color-01: rgba(255, 255, 255, 0.3);
  --input-border-color-02: rgba(33, 33, 33, 0.2);
}

/* Приховує заголовки */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1, h2, h3, p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: var(--text-color-01);
}

.list {
  padding-left: 0px;
  margin: 0;
  list-style: none;
}

/* *****Change font-style in address section to normal***** */
.address__list {
  font-style: normal;
}

/* Форматирование изображений */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* *****Styling body***** */
body {
  background-color: var(--background-color-01);
  font-family: "Roboto", sans-serif;
  color: var(--text-color-01);
  margin: 0;
  letter-spacing: 0.03em;
}

/* Контейнер */
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Секції */
.section {
  padding: 94px 0 94px;
}

.link:hover, .link:focus {
  color: var(--brand-color-01);
  fill: var(--brand-color-01);
}

.button:hover, .button:focus {
  background-color: var(--highlight-button-color);
  color: var(--background-color-01);
}

/* Переходи і анімація */
.link,
.button,
.input,
.send-form__icon {
  -webkit-transition-property: color, fill, background-color, border-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, border-color, -webkit-box-shadow;
  transition-property: color, fill, background-color, border-color, box-shadow;
  transition-property: color, fill, background-color, border-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.header {
  border-bottom: 1px solid var(--border-color-01);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 93px;
  padding: 24px 0;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--text-color-02);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0;
  color: var(--text-color-02);
  fill: var(--text-color-02);
}

.header__icon {
  margin-right: 10px;
}

.logo {
  color: var(--brand-color-01);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__part--black {
  color: var(--text-color-01);
}

.logo__part--white {
  color: var(--background-color-01);
}

.nav {
  margin-right: auto;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding: 32px 0;
}

.nav__link--active {
  position: relative;
  color: var(--brand-color-01);
}
.nav__link--active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color-01);
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--brand-color-02);
  background-image: -webkit-gradient(linear, left top, right top, from(var(--gradient-color-01)), to(var(--gradient-color-02))), url(../images/hero-img-team.jpg);
  background-image: linear-gradient(to right, var(--gradient-color-01), var(--gradient-color-02)), url(../images/hero-img-team.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  width: 604px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--background-color-01);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.hero__button {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  border-radius: 4px;
  background-color: var(--brand-color-01);
  border-style: none;
  color: var(--background-color-01);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.benefits {
  font-size: 14px;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item:not(:last-child) {
  margin-right: 30px;
}
.benefits__item::before {
  content: "";
  display: block;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--background-color-02);
  background-repeat: no-repeat;
  background-position: center;
}

.benefits__icon--antenna::before {
  background-image: url(../images/benefits-icon-antenna.svg);
}

.benefits__icon--clock::before {
  background-image: url(../images/benefits-icon-clock.svg);
}

.benefits__icon--diagram::before {
  background-image: url(../images/benefits-icon-diagram.svg);
}

.benefits__icon--astronaut::before {
  background-image: url(../images/benefits-icon-astronaut.svg);
}

.benefits__subtitle {
  margin-bottom: 10px;
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits__text {
  color: var(--text-color-02);
  line-height: 1.71;
}

.desc {
  padding-bottom: 94px;
}

.desc__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.desc__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.desc__item:not(:last-child) {
  margin-right: 30px;
}

.desc__thumb {
  position: relative;
}

.desc__label {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 27px 0 27px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.14;
  font-weight: 700;
  color: var(--background-color-01);
  background-color: var(--label-color);
}

.team {
  background-color: var(--background-color-02);
}

.team__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.19;
  font-size: 16px;
}

.team__item {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px var(--shadow-color-01), 0px 1px 1px var(--shadow-color-02), 0px 2px 1px var(--shadow-color-03);
          box-shadow: 0px 1px 3px var(--shadow-color-01), 0px 1px 1px var(--shadow-color-02), 0px 2px 1px var(--shadow-color-03);
  background-color: var(--background-color-01);
}
.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__text {
  padding: 30px 0px 16px;
  text-align: center;
}

.team__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: inherit;
}

.team__desc {
  color: var(--text-color-02);
}

.team__social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.social-network__link:hover, .social-network__link:focus {
  color: var(--background-color-01);
}

.social-network__icon {
  fill: currentColor;
}

.clients__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__item {
  -ms-flex-preferred-size: calc((100% - 150px) / 6);
      flex-basis: calc((100% - 150px) / 6);
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  border: 1px solid var(--icon-color-01);
  border-radius: 4px;
  color: var(--icon-color-01);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--brand-color-01);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--brand-color-02);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__contacts {
  margin-right: auto;
}

.address {
  margin-top: 20px;
}

.address__list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: var(--background-color-01);
}

.address__link--mail,
.address__link--tel {
  color: var(--text-color-03);
}

.footer__social-network {
  margin-right: auto;
}

.social-network__title {
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--background-color-01);
  font-size: 14px;
  line-height: 1.14;
}

.social-network__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-network__link--footer {
  background-color: var(--icon-color-02);
}

.social-network__icon--footer {
  fill: var(--background-color-01);
}

/* Форма подписки на рассылку */
.subs-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  margin-bottom: 20px;
  color: var(--background-color-01);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.subs-form__input {
  width: 358px;
  margin-right: 12px;
  border-radius: 4px;
  background: var(--input-background-color);
  border: 1px solid var(--input-border-color-01);
  -webkit-filter: drop-shadow(0px 4px 4px var(--shadow-color-08));
          filter: drop-shadow(0px 4px 4px var(--shadow-color-08));
  padding: 15px 16px;
  color: var(--background-color-01);
}
.subs-form__input::-webkit-input-placeholder {
  color: var(--text-color-03);
  line-height: 1.25;
}
.subs-form__input::-moz-placeholder {
  color: var(--text-color-03);
  line-height: 1.25;
}
.subs-form__input:-ms-input-placeholder {
  color: var(--text-color-03);
  line-height: 1.25;
}
.subs-form__input::-ms-input-placeholder {
  color: var(--text-color-03);
  line-height: 1.25;
}
.subs-form__input::placeholder {
  color: var(--text-color-03);
  line-height: 1.25;
}

.subs-form__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px 10px 29px;
  border-radius: 4px;
  background-color: var(--brand-color-01);
  border-style: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px var(--shadow-color-08);
          box-shadow: 0px 4px 4px var(--shadow-color-08);
}

.button__label {
  margin-right: 10px;
  color: var(--background-color-01);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.button__icon {
  fill: var(--background-color-01);
}

.social-network__item:not(:last-child) {
  margin-right: 10px;
}

.social-network__link {
  color: var(--icon-color-01);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social-network__link:hover, .social-network__link:focus {
  background-color: var(--brand-color-01);
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__button {
  border-style: none;
  border-radius: 4px;
  padding: 6px 22px;
  background-color: var(--button-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
}
.filters__button:hover, .filters__button:focus {
  -webkit-box-shadow: 0px 3px 1px var(--shadow-color-06), 0px 1px 2px var(--shadow-color-07), 0px 2px 2px var(--shadow-color-01);
          box-shadow: 0px 3px 1px var(--shadow-color-06), 0px 1px 2px var(--shadow-color-07), 0px 2px 2px var(--shadow-color-01);
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.gallery__item {
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.gallery__link {
  display: block;
}
.gallery__link:hover, .gallery__link:focus {
  color: currentColor;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 1px var(--shadow-color-01), 0px 4px 4px var(--shadow-color-04), 1px 4px 6px var(--shadow-color-05);
          box-shadow: 0px 1px 1px var(--shadow-color-01), 0px 4px 4px var(--shadow-color-04), 1px 4px 6px var(--shadow-color-05);
}

.gallery__text {
  padding: 20px 24px;
  border-left: 1px solid var(--border-color-02);
  border-right: 1px solid var(--border-color-02);
  border-bottom: 1px solid var(--border-color-02);
}

.gallery__subtitle {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery__desc {
  color: var(--text-color-02);
  font-size: 16px;
  line-height: 1.88;
}

.gallery__thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}
.gallery__link:hover .overlay, .gallery__link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay__text {
  padding: 0px 24px;
  line-height: 1.56;
  font-size: 18px;
  color: var(--background-color-01);
}

.backdrop {
  position: fixed;
  opacity: 1;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: var(--shadow-color-03);
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

.modal {
  position: absolute;
  visibility: visible;
  top: 50%;
  left: 50%;
  width: 528px;
  padding: 40px;
  background-color: var(--background-color-01);
  -webkit-box-shadow: 0px 1px 3px var(--shadow-color-01), 0px 1px 1px var(--shadow-color-02), 0px 2px 1px var(--shadow-color-03);
          box-shadow: 0px 1px 3px var(--shadow-color-01), 0px 1px 1px var(--shadow-color-02), 0px 2px 1px var(--shadow-color-03);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.modal__close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 6px;
  background-color: var(--background-color-01);
  border: 1px solid var(--shadow-color-06);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.modal__close-button:hover, .modal__close-button:focus {
  fill: var(--brand-color-01);
}

.send-form__title {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  line-height: 1.05;
  font-size: 20px;
}

.send-form__list {
  margin-bottom: 20px;
}

.send-form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.17;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--text-color-02);
}
.send-form__field:not(:last-child) {
  margin-bottom: 10px;
}

.send-form__label {
  margin-bottom: 4px;
}

.send-form__input {
  width: 100%;
  border: 1px solid var(--input-border-color-02);
  border-radius: 4px;
  padding: 11px 12px 11px 42px;
  font-size: 14px;
  outline: none;
}
.send-form__input:focus, .send-form__input:hover {
  border-color: var(--brand-color-01);
}

.send-form__box {
  position: relative;
}

.send-form__icon {
  position: absolute;
  top: 11px;
  bottom: 11px;
  left: 12px;
  pointer-events: none;
}
.send-form__input:focus + .send-form__icon, .send-form__input:hover + .send-form__icon {
  fill: var(--brand-color-01);
}

.send-form__input--textarea {
  padding: 12px 16px;
  line-height: 1.17;
  width: 100%;
  resize: none;
}
.send-form__input--textarea::-webkit-input-placeholder {
  color: var(--text-color-04);
  line-height: 1.17;
  font-size: 12px;
  letter-spacing: 0.01em;
}
.send-form__input--textarea::-moz-placeholder {
  color: var(--text-color-04);
  line-height: 1.17;
  font-size: 12px;
  letter-spacing: 0.01em;
}
.send-form__input--textarea:-ms-input-placeholder {
  color: var(--text-color-04);
  line-height: 1.17;
  font-size: 12px;
  letter-spacing: 0.01em;
}
.send-form__input--textarea::-ms-input-placeholder {
  color: var(--text-color-04);
  line-height: 1.17;
  font-size: 12px;
  letter-spacing: 0.01em;
}
.send-form__input--textarea::placeholder {
  color: var(--text-color-04);
  line-height: 1.17;
  font-size: 12px;
  letter-spacing: 0.01em;
}

.send-form__checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  line-height: 1.71;
  font-size: 14px;
  color: var(--text-color-02);
}

.send-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.send-form__custom-checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-radius: 2px;
  background-origin: border-box;
  border: 2px solid var(--text-color-01);
  fill: var(--background-color-01);
}
.send-form__checkbox:focus + .send-form__custom-checkbox {
  border-color: var(--brand-color-01);
}
.send-form__checkbox:checked + .send-form__custom-checkbox {
  background-color: var(--brand-color-01);
  border-color: var(--brand-color-01);
}

.send-form__checkbox-icon {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.send-form__checkbox:checked + .send-form__custom-checkbox .send-form__checkbox-icon {
  visibility: visible;
  opacity: 1;
}

.send-form__terms-link {
  text-decoration: underline;
  color: var(--brand-color-01);
}
.send-form__terms-link:hover {
  text-decoration: none;
}

.send-form__submit-button {
  display: block;
  margin: 0 auto;
  padding: 10px 55px 10px 56px;
  background: var(--brand-color-01);
  -webkit-box-shadow: 0px 4px 4px var(--shadow-color-08);
          box-shadow: 0px 4px 4px var(--shadow-color-08);
  border-radius: 4px;
  border-style: none;
  color: var(--background-color-01);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  letter-spacing: 0.06em;
}/*# sourceMappingURL=main.css.map */