// Бургер меню версії для смартфонів

.header__menu-button {
    margin-left: auto;
    padding: 0px;
    background-color: var(--background-color-01);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;

    &:hover, &:focus {
      fill:var(--brand-color-01);
    }
    
    @media screen and (min-width:768px) {
      display: none;
    }
  }