:root {
    --background-color-01: #ffffff;
    --background-color-02: #f5f4fa;
  
    --text-color-01: #212121;
    --text-color-02:#757575;
    --text-color-03:rgba(255, 255, 255, 0.6);
    --text-color-04: rgba(117, 117, 117, 0.5);
  
    --brand-color-01: #2196f3;
    --brand-color-02: #2f303a;
  
    --button-color:#f5f4fa;
    --highlight-button-color: #188ce8;
  
    --border-color-01:#ECECEC;
    --border-color-02:#EEEEEE;
  
    --shadow-color-01: rgba(0, 0, 0, 0.12);
    --shadow-color-02:rgba(0, 0, 0, 0.14);
    --shadow-color-03:rgba(0, 0, 0, 0.2);
    --shadow-color-04: rgba(0, 0, 0, 0.06);
    --shadow-color-05: rgba(0, 0, 0, 0.16);
    --shadow-color-06: rgba(0, 0, 0, 0.1);
    --shadow-color-07: rgba(0, 0, 0, 0.08);
    --shadow-color-08: rgba(0, 0, 0, 0.15);
  
  
    --gradient-color-01: rgba(47, 48, 58, 0.4);
    --gradient-color-02: rgba(47, 48, 58, 0.4);
    
    --icon-color-01: #AFB1B8;
    --icon-color-02: rgba(255, 255, 255, 0.1);
  
    --label-color: rgba(47, 48, 58, 0.8);
  
    --overlay-color: rgba(33, 150, 243, 0.9);
  
    --input-background-color: #2196F300; 
    --input-border-color-01: rgba(255, 255, 255, 0.3);
    --input-border-color-02: rgba(33, 33, 33, 0.2);
  }

