
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;

    font-size: 14px;

    // Desktop
    @media screen and (min-width:1200px) {
      flex-wrap: nowrap;
    }
  }
  .benefits__item {
    flex-basis: calc(100% / 1 - 30px);
    margin-top: 30px;
    margin-left: 30px;

    // Фон іконок
    &::before {
      content:'';
      display: block;
      margin-bottom: 30px;
      height: 120px;
      border-radius: 4px;
      background-color: var(--background-color-02);
      background-repeat: no-repeat;
      background-position: center;
    }

    // Tablet
    @media screen and (min-width:768px) {
      flex-basis: calc(100% / 2 - 30px);
    }

    // Desktop
    @media screen and (min-width:1200px) {
      flex-basis: calc(100% / 4 - 30px);
    }
  }

  // Іконки benefits
  .benefits__icon--antenna {
    &::before {
      background-image: url(../images/benefits/benefits-icon-antenna.svg);
    }
  }
  .benefits__icon--clock {
    &::before {
      background-image: url(../images/benefits/benefits-icon-clock.svg);
    }
  }
  .benefits__icon--diagram {
    &::before {
      background-image: url(../images/benefits/benefits-icon-diagram.svg);
    }
  }
  .benefits__icon--astronaut {
    &::before {
      background-image: url(../images/benefits/benefits-icon-astronaut.svg);
    }
  }
  .benefits__subtitle {
    margin-bottom: 10px;
    font-size: inherit;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;

    // tablet & desktop
    @media screen and (min-width:768px) {
      text-align: start;
    }
  }
  .benefits__text {
    color: var(--text-color-02);
    line-height: 1.71;
  }