.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--brand-color-02);
  }
  .footer__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media screen and (min-width:768px) {
      flex-direction: row;
    }

    @media screen and (min-width:1200px) {
      flex-wrap: nowrap;
    }
  }
  .footer__item {
    margin: 0 auto;
    text-align: center;
    @include bottom-indent (60px);

    @media screen and (min-width:1200px) {
      text-align: start;
      margin: 0;
      @include bottom-indent (0px);
    }
  }

  .address {
    margin-top: 20px;
    white-space: nowrap;
  }
  .address__list {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  // Нижній відступ
  .address__item {
    @include bottom-indent (9px);
  }
  .address__link {
    color: var(--background-color-01);
  }
  .address__link--mail,
  .address__link--tel {
    color: var(--text-color-03);
  }
  .footer__item--social-network {
    @media screen and (min-width:1200px) {
      margin-left: 70px;
    }
  }
  .footer__subtitle {
    display: inline-block;
    text-transform: uppercase;
    color:var(--background-color-01);
    font-size: 14px;
    line-height: 1.14;
    margin-top: 12px;
    margin-bottom: 20px;
  }
  
  .social-network__link--footer {
    background-color: var(--icon-color-02);
  }
  .social-network__icon--footer {
    fill:var(--background-color-01);
  }